---
{
  "name": "Menu",
  "icon": "list",
  "keep_icon": true,
  "keep_label": true,
  "settings": [
    {
      "label": "Show Menu",
      "id": "show",
      "type": "checkbox"
    },
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "SubTitle",
      "id": "subtitle",
      "type": "text",
      "html": true
    },
    {
      "label": "Btn",
      "id": "btn",
      "type": "checkbox"
    },
    {
      "label": "BtnText",
      "id": "btntext",
      "type": "text"
    },
    {
      "label": "BtnLink",
      "id": "btnlink",
      "type": "url"
    }
  ]
}
---
{% if section.settings.show == true %}
<script type="text/javascript">$("#menu").css('display', 'inline-block');</script>
  <div id="fh5co-menus" data-section="menu">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="heading to-animate">Food Menu</h2>
          <p class="sub-heading to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row row-padded">
        <div class="col-md-6">
          <div class="fh5co-food-menu to-animate-2">
            <h2 class="fh5co-drinks">Drinks</h2>
            <ul>
              {% with_scope type: 'drinks' %}
              {% for item in contents.products | limit: 4 %}
              <li>
                <div class="fh5co-food-desc">
                  <figure>
                    <img src="{{ item.photo.url }}" class="img-responsive" alt="{{ item.photo.url }}">
                  </figure>
                  <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                  </div>
                </div>
                <div class="fh5co-food-pricing">
                  {{ item.price }}
                </div>
              </li>
              {% endfor %}
              {% endwith_scope %}
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-food-menu to-animate-2">
            <h2 class="fh5co-dishes">Steak</h2>
            <ul>
              {% with_scope type: 'meats' %}
              {% for item in contents.products | limit: 4 %}
              <li>
                <div class="fh5co-food-desc">
                  <figure>
                    <img src="{{ item.photo.url }}" class="img-responsive" alt="{{ item.photo.url }}">
                  </figure>
                  <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.desc }}</p>
                  </div>
                </div>
                <div class="fh5co-food-pricing">
                  {{ item.price }}
                </div>
              </li>
              {% endfor %}
              {% endwith_scope %}
            </ul>
          </div>
        </div>
      </div>
      {% if section.settings.btn == true %}
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center to-animate-2">
          <p><a href="{{ section.settings.btnlink }}" class="btn btn-primary btn-outline">{{ section.settings.btntext }}</a></p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% else %}
<script type="text/javascript">$("#menu").hide()</script>
{% endif %}
