---
{
  "name": "About",
  "icon": "image_text",
  "keep_icon": true,
  "keep_label": true,
  "settings": [
    {
      "label": "Show About",
      "id": "show",
      "type": "checkbox"
    },
    {
      "label": "Image",
      "id": "image",
      "type": "image_picker"
    },
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Text",
      "id": "text",
      "type": "text",
      "html": true
    },
    {
      "label": "Btn",
      "id": "btn",
      "type": "checkbox"
    },
    {
      "label": "BtnText",
      "id": "btntext",
      "type": "text"
    },
    {
      "label": "BtnLink",
      "id": "btnlink",
      "type": "url"
    },
    {
      "label": "Quotes",
      "id": "quotes",
      "type": "checkbox"
    }
  ]
}
---
{% if section.settings.show == true %}
<script type="text/javascript">$("#about").css('display', 'inline-block');</script>
  <div id="fh5co-about" data-section="about">
    <div class="fh5co-2col fh5co-bg to-animate-2" style="background-image: url({{ section.settings.image }})"></div>
    <div class="fh5co-2col fh5co-text">
      <h2 class="heading to-animate">{{ section.settings.title }}</h2>
      <p class="to-animate">{{ section.settings.text }}</p>
      {% if section.settings.btn == true %}<p class="text-center to-animate"><a href="{{ section.settings.btnlink }}" class="btn btn-primary btn-outline">{{ section.settings.btntext }}</a></p>{% endif %}
    </div>
  </div>
{% if section.settings.quotes == true %}
  <div id="fh5co-sayings">
    <div class="container">
      <div class="row to-animate">
        <div class="flexslider">
          <ul class="slides">
            {% for quote in contents.quotes %}
            <li>
              <blockquote>
                <p>&ldquo;{{ quote.quote }}&rdquo;</p>
                <p class="quote-author">&mdash; {{ quote.author }}</p>
              </blockquote>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% else %}
  <script type="text/javascript">$("#about").hide()</script>
{% endif %}
