---
{
  "name": "Events",
  "icon": "list",
  "keep_icon": true,
  "keep_label": true,
  "settings": [
    {
      "label": "Show Events",
      "id": "show",
      "type": "checkbox"
    },
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "SubTitle",
      "id": "subtitle",
      "type": "text",
      "html": true
    },
    {
      "label": "Background",
      "id": "image",
      "type": "image_picker"
    }
  ]
}
---
{% if section.settings.show == true %}
<script type="text/javascript">$("#events").css('display', 'inline-block');</script>
  <div id="fh5co-events" data-section="events" style="background-image: url({{ section.settings.image }});" data-stellar-background-ratio="0.5">
    <div class="fh5co-overlay"></div>
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h2 class="heading">{{ section.settings.title }}</h2>
          <p class="sub-heading">{{ section.settings.subtitle }}</p>
        </div>
      </div>
      <div class="row">
        {% for event in contents.events | limit: 3 %}
        <div class="col-md-4">
          <div class="fh5co-event to-animate-2">
            <h3>{{ event.name }}</h3>
            <span class="fh5co-event-meta">{{ event.date | localized_date: '%B %d, %Y' }}</span>
            <p>{{ event.desc }}</p>
            <p><a href="#" class="btn btn-primary btn-outline">Read More</a></p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
<script type="text/javascript">$("#events").hide()</script>
{% endif %}
