---
{
  "name": "",
  "class": "",
  "icon": "default",
  
  "settings": [
    {
      "label": "Title",
      "id": "title",
      "type": "text"
    },
    {
      "label": "Description",
      "id": "description",
      "type": "text"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "label": "Title",
          "id": "title",
          "type": "text"
        },
        {
          "label": "Description",
          "id": "description",
          "type": "text"
        }
      ]
    }
  ],
  "default": {
    "settings": {},
    "blocks": [
      {
        "type": "item",
        "settings": {}
      },
      {
        "type": "item",
        "settings": {}
      },
      {
        "type": "item",
        "settings": {}
      }
    ]
  },
  "dropzone_presets": [
    {
      "name": "Section Template",
      "category": "General",
      "settings": {},
      "blocks": [
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        },
        {
          "type": "item",
          "settings": {}
        }
      ]
    }
  ]
}
---
{% comment %}
  Add section documentation here
{% endcomment %}

<div>
  <h2>{{ section.settings.title | default: 'Main Title' }}</h2>
  <p>{{ section.settings.description | default: 'Lorem ipsum' }}</p>
  <ul>
    {% for block in section.blocks %}
      {% if block.type == 'item' %}
        <li {{ block.locomotive_attributes }}>
          <strong>{{ block.settings.title | default: 'Block Item Title' }}</strong> - {{ block.settings.description | default: 'Lorem ipsum' }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
